
<div class="calculator">
    <p>Math Calculator</p>
    <!-- <h3 data-bind="text: output"></h3> -->
    <input type="text" data-bind="value: current" disabled="disabled" /><input type="text" data-bind="value: dataInMem" style="width:20px" disabled="disabled"  />
    <div data-bind="foreach: numbers" >
         <button data-bind="value: $data.val, text: $data.val, click: $parent.addNumber"></button>
    </div>
    <div data-bind="foreach: commands" >
        <button data-bind="value: command, text: command, click: $parent.newCommand"></button>
    </div>
</div>

<script>
    $(function () {
        ko.applyBindings(new CalculatorModel());
    });
</script>
