@model Server.Models.Sensor

@{
    ViewBag.Title = "TconstSet";
}

@using (Html.BeginForm())
{
    <fieldset>

        <legend>Set Tconst to device with serial @Model.DeviceSerial</legend>
        <p>
            @Html.EditorFor(model => model.tconst)
        </p>

        <input type="submit" value="Set" class="btn btn-6 btn-6a" />
    </fieldset>
}
