<div data-bind="with:SearchViewModel">
    <label>
        Producer:
        <input data-bind="value: SearchForm.Producer" /></label>
    <label>
        Model
        <input data-bind="value: SearchForm.Model" /></label>
    <label>
        Search Category:
        <select data-bind="options: GoodsCategories,
                            value: SearchForm.GoodsCategory"></select>
    </label>
    <br />
    <label>Min Price:<input data-bind="value: SearchForm.MinPrice" /></label>
    <label>Max Price:<input data-bind="value: SearchForm.MaxPrice" /></label>
    <br />
    <input type="button" class="btn btn-info" value="Search" data-bind="click:GetAll" />

    <div data-bind="foreach:arr">
        <div class="row">
            GoodsId:      <span data-bind="text: $data.GoodsId"></span>
            GoodsCategory:<span data-bind="text: $data.GoodsCategory"></span>
            Model:        <span data-bind="text: $data.Model"></span>
            Price:        <span data-bind="text: $data.Price"></span>
            Producer:        <span data-bind="text: $data.Producer"></span>
            <input type="button" class="btn btn-info" value="Details" data-bind="click: $root.goToPageCategoryItem" />
        </div>
    </div>

</div>


