@model DataLayer.Models.MemoryCard

<div id="Show" data-bind="visible:MemoryCardViewModel.isReadMode">
   
    
    <div>
        Max Price <span data-bind="text: MemoryCardViewModel.maxPrice"></span>
        Min Price <span data-bind="text: MemoryCardViewModel.minPrice"></span>
    </div>

    <div data-bind="foreach: MemoryCardViewModel.arr" class="row">
        <div class="col-md-4 ">
            <br/>
            @Html.LabelFor(model => model.Model):
            <span data-bind="text: $data.Model"></span><br/>
            @Html.LabelFor(model => model.Producer): <span data-bind="text: $data.Producer"></span>
            <br />
            @Html.LabelFor(model => model.Price): <span data-bind="text: $data.Price"></span>
            <br />
            <input type="button" class="btn  btn-sm" value="To Cart" data-bind="click: $root.MemoryCardViewModel.AddToCart" /><br />
            <input type="button" class="btn btn-info btn-sm" value="Details" data-bind="click: $root.goToPageItem" /><br/>
        </div>
    </div>
</div>

    
    
   