<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Site.css" rel="stylesheet" />
    <title>CSS слайдер</title>

</head>
<body>
   
            <div class="plSt"></div>
    <div class="slides">

        <input type="radio" class="slider__radio" name="pictures" id="1" />
        <label for="1" class="pict"></label>

        <input type="radio" class="slider__radio" name="pictures" id="2" />
        <label for="2" class="pict"></label>

        <input type="radio" class="slider__radio" name="pictures" id="3" />
        <label for="3" class="pict"></label>

        <input type="radio" class="slider__radio" name="pictures" id="4" />
        <label for="4" class="pict"></label>
        <br/>
        <input type="radio" class="slider_playStop" name="pictures" id="5" />
        Play <label for="5" class="play"></label>


        <ul>
            <li>
                <img src="~/Images/pic1.jpg" alt="image01" />
            </li>
            <li>
                <img src="~/Images/pic2.jpg" alt="image02" />
            </li>
            <li>
                <img src="~/Images/pic3.jpg" alt="image03" />
            </li>
            <li>
                <img src="~/Images/pic4.jpg" alt="image04" />
            </li>
        </ul>

    </div>


</body>
</html>

