@model TaskShop.Models.Battery


<div >
    <div class="editor-label">
        @Html.LabelFor(model => model.Producer)
    </div>
    <div class="editor-field">
        <span data-bind="text:BatteryViewModel.BatteryModel.Producer"></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Capacity)
    </div>
    <div class="editor-field">
        <span data-bind="text: BatteryViewModel.BatteryModel.Capacity" ></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Voltage)
    </div>
    <div class="editor-field">
        <span data-bind="text: BatteryViewModel.BatteryModel.Voltage" ></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        <span data-bind="text: BatteryViewModel.BatteryModel.Price" ></span>
    </div>
    <input type="button" class="btn" value="To Cart" data-bind="click: $root.BatteryViewModel.AddToCart" />

</div>
