<div class="row">
    @*TotalCount<span data-bind="text: WizardModel.OrderModel.TotalCount"></span>*@
    Discount<span data-bind="text: WizardModel.OrderModel.Discount"></span>
    @*TotalPrice<span data-bind="text: WizardModel.OrderModel.TotalPrice"></span>*@
    DeliveryPrice<span data-bind="text: WizardModel.OrderModel.DeliveryPrice"></span>

</div>
<div data-bind="template: { name: 'currentTmpl', data: WizardModel.currentStep }"></div>

<hr />

<button data-bind="click: WizardModel.goPrevious, visible: WizardModel.canGoPrevious">Previous</button>
<button data-bind="click: WizardModel.goNext, visible: WizardModel.canGoNext">Next</button>


<script id="currentTmpl" type="text/html">
    <h4 data-bind="text: name"></h4>
    <div data-bind="template: { name: getTemplate, data: model }"></div>
</script>

<script id="deliveryMethodsTmpl" type="text/html">
    <div class="container">

        <input type="radio" name="deliveryMethods" value="Courier" data-bind="checked: choosenMethod" />
        Courier
        <br />
        <input type="radio" name="deliveryMethods" value="Ordinary send by mail" data-bind="checked: choosenMethod" />
        Ordinary send by mail
        <br />
        <input type="radio" name="deliveryMethods" value="You take yourself" data-bind="checked: choosenMethod" />
        You take yourself
        <br />
        <input type="radio" name="deliveryMethods" value="Sending cash on delivery" data-bind="checked: choosenMethod" />
        Sending cash on delivery
        
    </div>

</script>
<script id="bankCardTmpl" type="text/html">
    <label for="CardNumber">CardNumber</label>
    <input id="CardNumber" type="text" data-bind="value: CardNumber" />
    <br />
</script>

<script id="addressTmpl" type="text/html">
    <div class="container">
        <div class="row">
            <label for="Email">Email</label>
            <input id="Email" type="text" data-bind="value: Email" />
        </div>
        <div>
            <label for="City">City</label>
            <input id="City" type="text" data-bind="value: City" />
        </div>
        <div class="row">
            <label for="Street">Street</label>
            <input id="Street" type="text" data-bind="value: Street" />
        </div>
        <div class="row">
            <label for="House">House</label>
            <input id="House" type="text" data-bind="value: House" />
        </div>
    </div>
</script>

<script id="confirmTmpl" type="text/html">

    <div class="container">
        <div class="row">
            <fieldset>
                <legend>Your Order</legend>
                Discount:<span data-bind="text:Discount"></span><br/>
                Total Count:<span data-bind="text:TotalCount"></span><br/>
                Total Goods Price:<span data-bind="text:TotalGoodsPrice"></span><br/>
                Total  Price:<span data-bind="text:TotalPrice"></span><br/>
                DeliveryPrice:<span data-bind="text:DeliveryPrice"></span><br/>
                Email:<span data-bind="text:Email"></span><br/>
                City:<span data-bind="text:City"></span><br/>
                Street:<span data-bind="text:Street"></span><br/>
                House:<span data-bind="text:House"></span><br/>
                CardNumber<span data-bind="text:CardNumber"></span><br/>
            </fieldset>
        </div>
    </div>



    <input type="button" value="Submit" data-bind="click:SubmitOrder" />
</script>
