<div class="row">
    TotalCount<span data-bind="text: WizardModel.OrderModel.TotalCount"></span>
    Discount<span data-bind="text: WizardModel.OrderModel.Discount"></span>
    TotalPrice<span data-bind="text: WizardModel.OrderModel.TotalPrice"></span>
    DeliveryPrice<span data-bind="text: WizardModel.OrderModel.DeliveryPrice"></span>

</div>
<div data-bind="template: { name: 'currentTmpl', data: WizardModel.currentStep }"></div>

<hr />

<button data-bind="click: WizardModel.goPrevious, visible: WizardModel.canGoPrevious">Previous</button>
<button data-bind="click: WizardModel.goNext, visible: WizardModel.canGoNext">Next</button>


<script id="currentTmpl" type="text/html">
    <h2 data-bind="text: name"></h2>
    <div data-bind="template: { name: getTemplate, data: model }"></div>
</script>

<script id="deliveryMethodsTmpl" type="text/html">
    <label>
        <input type="radio" value="Courier" data-bind="checked: chosenMethod" />Courier</label>
    <br />
    <label>
        <input type="radio" value="Ordinary send by mail" data-bind="checked: chosenMethod" />Ordinary send by mail</label>
    <br />
    <label>
        <input type="radio" value="You take yourself" data-bind="checked: chosenMethod" />You take yourself</label>
    <br />
    <label>
        <input type="radio" value="Sending cash on delivery" data-bind="checked: chosenMethod" />Sending cash on delivery</label>
    <!-- /ko -->
    @*<input type="radio" value="1" data-bind="DeliveryMethods" />    <br/>*@
    @*    <input type="radio" value="2" data-bind="DeliveryMethods" />    <br/>
    <input type="radio" value="3" data-bind="DeliveryMethods" />    <br/>
    <input type="radio" value="4" data-bind="DeliveryMethods" />*@
</script>
<script id="bankCardTmpl" type="text/html">
    bankCardTmpl
</script>

<script id="addressTmpl" type="text/html">
    <label for="Email">Email</label>
    <input id="Email" type="text" data-bind="value: Email" />
    <br />
    <label for="City">City</label>
    <input id="City" type="text" data-bind="value: City" />
    <br />
    <label for="Street">Street</label>
    <input id="Street" type="text" data-bind="value: Street" />
    <br />
    <label for="House">House</label>
    <input id="House" type="text" data-bind="value: House" />

</script>

<script id="confirmTmpl" type="text/html">
    @*<fieldset>
        <legend>Naamgegevens</legend>
        <b><span data-bind="text:NameModel.FirstName"></span></b>
        <br/>
        <b><span data-bind="text:NameModel.LastName"></span></b>
    </fieldset>
    <fieldset>
        <legend>Adresgegevens</legend>
        <b><span data-bind="text:AddressModel.Address"></span></b>
        <br/>
        <b><span data-bind="text:AddressModel.PostalCode"></span></b>
        <br/>
        <b><span data-bind="text:AddressModel.City"></span></b>           
    </fieldset>
    <button data-bind="click: confirm">Confirm</button>*@
</script>
